html,
body {
    margin: 0px;
}

ul,
li {
    list-style-type: none
}

a {
    color: #95979d;
    text-decoration: none
}
span,em,strong,a{display: inline-block;}

* {
    margin: 0;
    padding: 0;
    font-family: '';
    font-size: 14px;
    color: #95979d;
    box-sizing: border-box;
}